body {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
  }
  .header {
    padding: 30px;
    text-align: center;
    background: #32d697;
    color: white;
    font-size: 30px;
  }
  